<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #ffffff;
  padding: 10px;
}



</style>

<body>

  <h1 style="text-align:center;">Matonet</h1>
  <p style="text-align:center;">Kirjautuminen verkkokauppaan</p>
  



<div class="center">
<p>Username</p>
<input type="text" id="username" name="username"><br><br>
<p>Password</p>
<input type="text" id="password" name="password"><br><br>
<button type="button" onclick="getToken()">Login</button>
<!-- For printing result from server -->
<p class="result" style="color:green"></p> 
</div>
<script src="login.js"></script>





</body>
</html>